.title {
    height: 60px;
    width: 1000px;
    margin: 0 auto;
    overflow: visible;
    z-index: 1;
}

.title .logo {
    width: 109px;
    height: 60px;
    float: left;
    margin-right: 60px;
    display: inline-block;
}

.title .logo img {
    margin-top: 10px;
}

.rightTab {
    width: 200px;
    height: 60px;
    float: right;
    margin-right: 10px;
    display: inline-block;
}

.rightTab div {
    width: 17px;
    height: 60px;
    display: inline-block;
    margin-left: 31px;
    margin-top: 23px;
    cursor: pointer;
    float: right;
}

// .title .xiaoanniu .anniu1 {
//     background: url(./title/login-icon.png) 0 0 no-repeat;
//     background-size: 17px 17px;
// }

// .title .xiaoanniu .anniu2 {
//     background: url(./title/app-icon.png)0 0 no-repeat;
//     background-size: 17px 17px;
//     overflow: visible;
// }

// .title .xiaoanniu .anniu2:hover {
//     background: url(./title/app-icon2.png)0 0 no-repeat;
//     background-size: 17px 17px;
// }

// .title .xiaoanniu .anniu3 {
//     background: url(./title/search-icon.png)0 0 no-repeat;
//     background-size: 17px 17px;
// }

// .title .xiaoanniu .anniu3:hover {
//     background: url(./title/search-icon2.png)0 0 no-repeat;
//     background-size: 17px 17px;
// }
