.title {
    height: 60px;
    width: 1000px;
    margin: 0 auto;
    overflow: visible;
    z-index: 1;
}

.title .logo {
    width: 109px;
    height: 60px;
    float: left;
    margin-right: 60px;
    display: inline-block;
}

.title .logo img {
    margin-top: 10px;
}